﻿@model IEnumerable<LockerDemo.Models.ViewModel.LBLocationView>
@{
    ViewBag.Title = "Index";
}

<h2>LockerBank Location</h2>

@Html.Raw(TempData["msg"])

<div class="row">
    <table class=".table-hover" cellpadding="0" cellspacing="0">
        @if (Model != null)
        {
            foreach (var lbLocation in Model)
            {
                <tr>
                    <td>
                        <br /><h4>@lbLocation.Region</h4>
                    </td>
                <tr>
                    @foreach (var lockerBank in lbLocation.LockerBank)
                    {
                        <td class="col-sm-4">@Html.ActionLink(@lockerBank.LBName, "LockerBank", new { id = lockerBank.LockerBankerID })</td>

                    }
                </tr>
                </tr>
            }
        }


    </table>
</div>
