﻿@model LockerDemo.Models.ViewModel.LockerBankView
@{
    ViewBag.Title = "LockerBank";
}

<h2>LockerBank Detail</h2>

@Html.Raw(TempData["msg"])

<div class="row">
    <table class=".table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td><h4>@Model.LBName</h4></td>
        <tr>
            @foreach (var lockerBank in Model.Locker)
            {
                <td class="col-sm-3">@lockerBank.LockerName</td>
            }
        </tr>
        </tr>
    </table>
</div><br />
<div class="row">
    <input class="btn" type="button" value="BACK" onclick="location.href='@Url.Action("Index", "Lockers")'" />
</div>

